<%- include("partials/header") -%>

<title>Lessons</title>
</head>

<body>

  <!-- Add navbar at the top -->
  <%- include("partials/navbar") -%>

  <div class="list-group container lessonsList">
    <button type="button" class="list-group-item list-group-item-action sticky" disabled>
      <h3>Scenarios:</h3>
    </button>

    <form class="list-group-item list-group-item-action" action="/" method="post">
      <input class="form-control" type="text" name="newLessonName" placeholder="New Lesson Title" autocomplete="off" required>
    </form>
    <div class="lessonsDisplay" style="overflow:scroll; height:400px;">
      <% lessons.forEach(function(lesson){ %>
      <div class=" list-group-item list-group-item-action">
        <div class="input-group">

          <!-- Display the Scenarios -->
          <form class="display" action="/:lessonId" method="post">
            <button class="input-group-text lessonTitle" type="submit" name="lessonId" value="<%=lesson._id%>"> <%= lesson.name %> </button>
          </form>

          <!-- Rename the lesson -->
          <form class="rename" action="/RenameLesson" method="post">
            <input type="hidden" name="lessonId" value="<%=lesson._id%>"></input>
            <input class="form-control" type="text" name="NewTitle" placeholder="Rename" autocomplete="off">
          </form>

          <!-- view Madrasa conversation -->
          <form class="view" action="/viewScenario=:lessonId" method="post">
            <button class="btn btn-dark" type="submit" name="lessonId" value="<%=lesson._id%>"> VIEW </button>
          </form>


          <!-- EMBED: copy the link -->
          <button class="embed btn btn-dark" onclick="copyToClipboard(<%= JSON.stringify(lesson._id) %>)"> EMBED </button>

          <!-- Delete the lesson -->
          <form class="delete" action="/DeleteLesson" method="post">
            <button class="btn btn-dark" onclick="if (!confirm('Are you sure?')) { return false }" type="submit" name="lessonToDelete" value="<%=lesson._id%>"> <i class="fas fa-trash"></i> </button>
          </form>
        </div>
      </div>
      <% }); %>
    </div>
  </div>

  <script type="text/javascript">

    function copyToClipboard(lessonId) {
      const el = document.createElement('textarea');
      var url = window.location.href + "viewScenario=" + lessonId;
      el.value = "<iframe src=\"" + url + "\"></iframe>";
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
      alert("URL Copied.");
    }

  </script>

  <%- include("partials/footer") -%>
